        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
         :root {
            --lightGray: rgb(99, 99, 99);
            --mainBlue: #0d6efd;
            --maingraay: rgba(0, 0, 0, 0.048);
        }
        
        body {
            font-family: 'Poppins', sans-serif;
            box-sizing: border-box;
        }
        
        .svg {
            fill: var(--mainBlue);
        }
        
        .svg-black {
            fill: black;
        }
        
        .svg-link:hover {
            fill: var(--mainBlue);
        }
        /*==== HEADER ====*/
        
        nav {
            display: flex;
            justify-content: space-between;
            padding: 0rem 2rem;
            background: rgba(99, 99, 99, 0.027);
            width: 100%;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.068);
        }
        
        nav>div>a {
            border: solid .150rem var(--lightGray);
            padding: 0px 10px;
        }
        
        .border-blue {
            border-bottom: solid .150rem var(--mainBlue);
            display: flex;
            align-items: center;
        }
        
        .nav-link {
            margin: 1rem .5rem;
            border-bottom: solid .1rem rgba(99, 99, 99, 0.082);
        }
        
        .border-link:hover {
            transition: 0ms;
            color: white;
            border-bottom: solid .1rem var(--mainBlue);
        }
        /*=== HOME ===*/
        
        .home {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0rem 0rem;
            width: 100%;
            height: 100vh;
        }
        
        .home>div>h1 {
            padding: 0rem;
            text-align: center;
            font-size: 2.3rem;
            border-radius: 7px;
            font-weight: 300;
            margin: 1rem 0rem;
            width: 24rem;
            border-right: solid .2rem var(--mainBlue);
            border-left: solid .2rem var(--mainBlue);
        }
        
        .home>div>button {
            width: 24rem;
            margin: 2rem 0rem;
        }
        
        .home>div>button:hover {
            color: #0d6dfdaf;
        }
        /*=== ABOUT ===*/
        
        .about {
            background: rgba(0, 0, 0, 0.048);
            text-align: center;
            padding: 5rem;
            margin: 0 auto;
            text-align: center;
        }
        
        img:hover {
            color: rgb(99, 99, 99)
        }
        
        .about>div>h1 {
            margin: 2rem 0;
            font-weight: 200;
            padding: 2rem 0 0 0;
        }
        
        .about>div>p {
            font-size: 1.2rem;
            font-weight: 200;
        }
        /*=== WORKS || PROJECTS ===*/
        
        .projects {
            margin: 1rem 0rem 0rem 0rem;
            padding: 5rem;
            text-align: center;
        }
        
        .margin-2 {
            margin: -2rem 0rem 0rem 0rem;
        }
        
        .projects>h1 {
            padding: 1rem;
            font-weight: 200;
            margin: 0rem 0rem 4rem 0rem;
        }
        
        .container {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            padding: 0 2rem;
        }
        
        .card {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 18rem;
            border: solid .010rem rgba(128, 128, 128, 0.397);
            background: rgba(211, 211, 211, 0);
            box-shadow: 0px 0px .5rem rgba(0, 0, 0, 0.027);
            border-bottom: solid var(--mainBlue) .30rem;
            letter-spacing: .080rem;
            flex: 1 20rem;
            transition: .5s;
        }
        
        .card:hover {
            cursor: pointer;
            opacity: .8;
            border-bottom: solid .30rem #0d6dfde3;
            letter-spacing: .120rem;
            transition: .5s;
            box-shadow: 0rem .6rem .1rem #3081fa31;
        }
        
        .link-projects {
            color: black;
            text-decoration: none;
            font-weight: 200;
            font-size: 1rem;
        }
        
        .link-projects:hover {
            color: black;
        }
        
        .card>h1 {
            font-size: 1rem;
            font-weight: 300;
            border-bottom: solid .2rem rgba(0, 0, 0, 0.479);
            width: 12rem;
            border-radius: .3rem;
            padding: .7rem;
        }
        
        .card>p {
            position: relative;
            top: 5rem;
            padding: 10px;
        }
        
        .big-flex {
            flex-wrap: wrap;
            flex: 1 25rem;
        }
        /* === FOOTER === */
        
        footer {
            background-color: rgba(0, 0, 0, 0.055);
            height: 22rem;
            margin-top: 3rem;
            padding: 5rem;
        }
        
        footer>div {
            margin: 3rem 0rem;
        }
        
        .footer-links {
            color: black;
            text-decoration: none;
        }
        
        .footer-links:hover {
            color: black;
            text-decoration: underline;
        }
        
        .nav-list {
            list-style: none;
            display: flex;
            align-items: center;
            margin: .4rem 0rem;
        }
        /* RESPONSIVIDADE -- CELULAR */
        
        @media(max-width:450px) {
            .home {
                height: 90vh
            }
            .home>div>h1 {
                border: none;
                border-bottom: solid var(--mainBlue) .2rem;
                font-size: 2rem;
                width: 20rem;
                margin: 0rem auto 4rem;
                padding-bottom: 1rem;
            }
            .projects {
                padding: 5rem 0rem;
            }
            footer {
                padding: 1rem 0rem;
                margin: 0;
                height: auto;
            }
            footer>h1 {
                margin: 0rem 2rem;
            }
            .card {
                box-shadow: 1px 1px .5rem rgba(0, 0, 0, 0.164);
            }
        }